# 1. List operations

In [1]:
countries = ["United States", "India", "Germany", "Australia"]
print(countries)

['United States', 'India', 'Germany', 'Australia']

In [2]:
countries.append("Singapore")
print(countries)

['United States', 'India', 'Germany', 'Australia', 'Singapore']

In [3]:
countries.sort()
print(countries)

['Australia', 'Germany', 'India', 'Singapore', 'United States']

In [4]:
countries.sort(reverse=True) 
print(countries)

['United States', 'Singapore', 'India', 'Germany', 'Australia']

In [5]:
countries.insert(2, "Egypt")
print(countries)

['United States', 'Singapore', 'Egypt', 'India', 'Germany', 'Australia']

In [6]:
countries.pop()
print(countries)

['United States', 'Singapore', 'Egypt', 'India', 'Germany']

# 2. Using list as stack

In [7]:
countries = ["United States", "India", "Germany", "Australia"]

countries.append("Singapore")
print(countries)

['United States', 'India', 'Germany', 'Australia', 'Singapore']

In [8]:
countries.pop()
countries.pop()
print(countries)

['United States', 'India', 'Germany']

# 3. Using list as queue

In [9]:
from collections import deque
countries = deque(["United States", "India", "Germany", "Australia"])
countries.append("Singapore")
print(countries)

deque(['United States', 'India', 'Germany', 'Australia', 'Singapore'])

In [10]:
print("Pop -> ", countries.popleft()) 
print("Pop -> ", countries.popleft()) 
print(countries)

Pop ->  United States
Pop ->  India
deque(['Germany', 'Australia', 'Singapore'])

# 4. Representing lists in more consice way

In [11]:
nums = [1, 2, 3, 5, 8, 6]
squares = []

There are two ways in which we can square the numbers in nums and store them in squares list.

First way :

In [12]:
for i in nums:
  squares.append(i**2)
print("Square of numbers -> ", squares)

Square of numbers ->  [1, 4, 9, 25, 64, 36]

Second way (concise):

In [13]:
squares = [x**2 for x in nums]
print("Square of numbers -> ", squares)

Square of numbers ->  [1, 4, 9, 25, 64, 36]

## 4.1 Other examples

### 4.1.1 Adding numbers in two lists index wise

In [14]:
x = [1,2,3,4,5,6]
y = [9,8,7,6,5,4]
sum = [x[i]+y[i] for i in range(0,6)]
print(sum)

[10, 10, 10, 10, 10, 10]

### 4.1.2 Addition of two 3x3 matrix

In [15]:
x = [[1,2,3], [1,2,3], [1,2,3]]
y = [[3,2,1], [3,2,1], [3,2,1]]

matAdd = [[x[i][j]+y[i][j] for i in range(0, 3)] for j in range(0, 3)]

print(matAdd)

[[4, 4, 4], [4, 4, 4], [4, 4, 4]]

### 4.1.3 Flattening a two dimension matrix into one dimension

In [16]:
flattened_x = [x[i][j] for i in range(0, 3) for j in range(0, 3)]

print(flattened_x)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# 5. Using del keyword

In [17]:
x = [1,2,3,4,5,6]
print(x[0:4])
del x[0]
print(x)

[1, 2, 3, 4]
[2, 3, 4, 5, 6]

In [18]:
del x[1:3]
print(x)

[2, 5, 6]

In [19]:
del x[:]
print(x)

[]

# 6. Using tuple

In [20]:
a = 123, "Hello", 34.445, "Alice"
print(a)

(123, 'Hello', 34.445, 'Alice')

## 6.1 Tuples can be unpacked into variables

In [21]:
w, x, y, z = a
print(w, x, y, z)

123 Hello 34.445 Alice

## 6.2 Tuples can be nested

In [22]:
a = 123, "Hello", 34.445, "Alice"
b = 345, "World", 77.434, "Bob"
c = a, b

print(c)

((123, 'Hello', 34.445, 'Alice'), (345, 'World', 77.434, 'Bob'))

## 6.3 Unpacking nested tuples

In [23]:
a, b = c
print(a, b)

(123, 'Hello', 34.445, 'Alice') (345, 'World', 77.434, 'Bob')

## 6.4 Unpacking nested tuples into variables

In [24]:
(s,t,u,v), (w,x,y,z) = c
print(s,t,u,v, w, x, y, z)

123 Hello 34.445 Alice 345 World 77.434 Bob

# 7. Set operations

## 7.1 Check if value exists in a set

In [25]:
countries = {"United States", "India", "Germany", "Australia"}

print("India" in countries)

True

## 7.2 Set operations between two sets

In [26]:
countries1 = {"United States", "India", "Germany", "Australia"}
countries2 = {"Singapore", "India", "Canada", "Germany"}

### 7.2.1 Set A - Set B (Values in Set A that are not in set B)

In [27]:
print(countries2 - countries1) 
print(countries1 - countries2)

{'Canada', 'Singapore'}
{'Australia', 'United States'}

### 7.2.2 Set A | Set B (Union of Set A and Set B)

In [28]:
print (countries1 | countries2)

{'Canada', 'Singapore', 'Australia', 'Germany', 'United States', 'India'}

### 7.2.3 Set A & Set B (Intersection of Set A and Set B)

In [29]:
print(countries1 & countries2)

{'Germany', 'India'}

### 7.2.4 Set A ^ Set B ( Union(A,B) - Intersection(A,B) : Values in Set A and Set B but not in both)

In [30]:
print(countries1 ^ countries2)

{'Canada', 'Singapore', 'Australia', 'United States'}

This is equals to :

In [32]:
a = (countries1 | countries2) - (countries1 & countries2)
print(a)

{'Canada', 'Singapore', 'Australia', 'United States'}

This is also equals to :

In [33]:
a = { x for x in (countries1 | countries2) if x not in (countries1 & countries2)}
print(a)

{'Canada', 'Singapore', 'Australia', 'United States'}